/* some adjustments for the chat page. Please don't inspect this, it's very messy */

#noti-container {
	position:		fixed;
	margin:			0;
	padding:		10px;
	top:				0px;
	left:				0px;
	width:			100%;
	z-index:		9999;
	text-align:	center;
}

#terminal-wrapper {
	margin-top:	1em;
}
#terminal-wrapper #terminal {
	overflow-y:	scroll;
	height:			15em;
}

html {
	background-color: #2A2730;
}
body {
	background-color: #2A2730;
}
footer {
	text-align:center;
	margin-top: 1em;
	margin-bottom: 0;
	padding: 5em;
	color: #99979C;
	background-color: #2A2730;
	width: 100%;
	bottom: 0px;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: #fff;
}
